<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <!-- Bootstrap and HTMX Scripts -->
    <script src="https://unpkg.com/htmx.org@1.9.11" integrity="sha384-0gxUXCCR8yv9FM2b+U3FDbsKthCI66oH5IA9fHppQq9DDMHuMauqq1ZHBpJxQ0J0" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-mrGIlLLnJjNHRiqtRwFYdPj4FgiCmJewoWr31DPO8XrAYq3yuheihX4c+5jpP+l" crossorigin="anonymous"></script>
    <title>Prova 2 Logs</title>
    <style>
        /* Custom style for the hover effect */
        .list-group-item {
        transition: background-color 0.5s ease; /* Smooth transition */
        }

        .list-group-item:hover {
            background-color: #c6c6c6; /* Light gray background color */
        }

        #bot_status {
            display: inline-block; /* Ensures it's displayed next to the bot_status_text */
            margin-left: 5px; /* Adjust margin as needed */
        }
    </style>
</head>
<body hx-boost="true" hx-trigger="every 3600s" hx-get="/dash" hx-target="this">


    <!-- Navigation bar -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container">
            <a class="navbar-brand" href="#">Prova 2</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item">
                        <a class="nav-link" target="_self" href="/">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" target="_self" href="/ping">Ping</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" target="_self" href="/dash">Logs</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <!-- Main content -->
    <div class="container mt-4">
        <div class="row align-items-center mb-4">
            <div class="col">
                <h2>Logs</h2>
            </div>
            <div class="col-auto">
                <input type="button" hx-get="/clear_logs" value="&#10033; Clenar Logs &#10033;" class="btn btn-danger mb-3" id="btn-disconnect">
            </div>
        </div>
        <div class="row">
            <div class="col">
                <ul class="list-group" hx-get="/info" hx-target=".list-group-item" hx-trigger="every 10s">
                    <li class="list-group-item">
                    </li>
                </ul>
            </div>
        </div>
    </div>
</body>
</html>
